<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="bg-white">
        <h1 class="text-primary">
          <a href="/">Tech Blog</a>
        </h1>
        {{#if loggedIn}}
        <nav>
          <a href="/dashboard">dashboard</a>
          <a id="logout">logout</a>
          {{else}}
          <a href="/login" class="nav-link">Login</a>
          <a href="/signup" class="nav-link">Signup</a>
          {{/if}}
        </nav>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>